/** animation **/
  /** objet **/
  .obj {
    width: 80px;
    height: 80px;
    background-color: rgb(175, 1, 175);
    border-radius: 50%;
  }

/** animation bonus **/
.circle{
  animation-name: rainbowCircle;
  animation-duration: 12s;
  animation-iteration-count: infinite;

}

@keyframes rainbowCircle {
  from { background-color: #0000FF; }
  to {background-color: #0000FF;}
}
/** animation 3 css **/

#Animation-3-css {
  display: flex;
  justify-content: space-around;
}

  /** cercle 1 **/
.num-1{
  animation-name: app, rainbowCircle;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
    /*la façon dont une animation s'applique*/
    /*forwards: reste fixé à l'état*/
  margin-left: 15%;
  opacity: 0%;
}
  /**cercle 2 **/
  .num-2{
    animation-name: app, rainbowCircle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0%;
    animation-delay: 0.5s;
  }
  
    /** cercle 3 **/
    .num-3{
      animation-name: app, rainbowCircle;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      opacity: 0%;
      animation-delay: 1.3s;
    }
    /** cercle 3 **/
    .num-4{
      animation-name: app, rainbowCircle;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      opacity: 0%;
      animation-delay: 2s;
    }
  
/** l'animation fait: aparition / translation / téleportation */
@keyframes app {
  33%{
    opacity: 100%;
  }
  66%{
    transform: translateX(-100%);
    opacity: 100%;
  }
  67%{
    transform: translateX(-200%);
    opacity: 100%;
  }
  100%{
    transform: translateX(-200%);
    opacity: 100%;
  }
}