  /** objet **/
  .obj {
    width: 80px;
    height: 80px;
    background-color: rgb(175, 1, 175);
    border-radius: 20%;
    margin-bottom: 20px;
  }

  .num-1{
    animation-name: app1;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
      /*la façon dont une animation s'applique*/
      /*forwards: reste fixé à l'état*/
  }

  .num-2{
    animation-name: app2;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
      /*la façon dont une animation s'applique*/
      /*forwards: reste fixé à l'état*/
  }

  .num-3{
    animation-name: app3;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
      /*la façon dont une animation s'applique*/
      /*forwards: reste fixé à l'état*/
  }

  .num-3{


  }

 @keyframes app1 {
    from {
        transform: translateX(0%);
      }
    
      to {
        transform: translateX(200%);
      }
 } 

 @keyframes app2 {
    from {
        transform: translateX(0%);
      }
    
      to {
        transform: translateX(300%) rotate(50deg);
      }
 } 

 @keyframes app3 {
    from {
        transform: translateX(0%);
      }
    
    70% { transform: translateX(400%) }
    80% { transform: translateX(390%) }
    90% { transform: translateX(410%) }
    100% { transform: translateX(390%) }
 } 



