body {
    justify-content: center;
    align-items: center;
}

.Objets {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.cercle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carre {
    width: 300px;
    height: 100px;
    background-color: blue;
    margin: 2rem;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carre2 {
    width: 200px;
    height: 100px;
    background-color: blue;
    margin: 2rem;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 100px solid green;
    margin: 2rem;
}

.losange {
    width: 75px;
    height: 75px;
    background-color:blue;
    transform: rotate(45deg);
    margin: 2rem;
}

p {
    color: white;
    text-align: center;
}


.losange {
    width: 75px;
    height: 75px;
    background-color:blue;
    transform: rotate(45deg);
    margin: 2rem;
}

p {
    color: white;
    text-align: center;
}
